* {
	margin:0;

	font-family:"Source Han Sans";
}
html {
	background-color: #68cdd5;
}
.wrap {
	width:80%;
	margin:0 auto;
	
}
/*返回键设计*/

 .return img{
	
	margin:5%;
	width:10%;
	height:10vw;
}

/*主页面logo设计*/
.wrap .logo {
	text-align:center;
	color: white;
}

.wrap .logo img {
	width:30%;
	height:60%;
	margin:10% auto;
}

/*主页面文字介绍*/
.wrap .logo p {
	text-align:justify;
	margin:15% auto;
}

/*主页面下方两个联系方式设计*/
.wrap .bottom {
	color:white;
}

.wrap .bottom .icon1 {
	text-align:center;
	float: left;
}

.wrap .bottom .icon1 img {
	width:2rem;

}
.wrap .bottom .icon2 {
	float:right;
	text-align: center;
}
.wrap .bottom .icon2 img {
	width:2rem;
}