/*控制字体*/
html {
	font-size:1.2vw;
	font-family: "STHeitiSC" , "黑体" ;
}
/*去除页面空隙*/
body {
	margin:0;
	background-color: #eff0f4;
}
/*顶部的栏*/
header {
	height: 6.5rem;
	font-size: 3.2rem;
	background-color: #5fc0cd;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header div:nth-child(2) {
	font-size: 3.6rem;
}
header div:nth-child(1) {
	margin-left: 3rem;
}
header div:nth-child(3) {
	margin-right: 3rem;
}

/*登录的框*/

form div{
	display:flex;
	align-items: center;
	background-color: white;
	justify-content: flex-start;
	margin:1.4rem 0;
	width: 100%;
	height: 6.5rem;
}


/*两张输入框图标*/
form .username .img1,form .password .img2 {
	width: 2.7rem;
	height: 4.1rem;
	margin-left: 3rem;
}

/*两个输入框的分隔框*/
form .divider {
	width: 0.2rem;
	height: 5.2rem;
	margin:0 2rem;
}

/*登录按钮*/
form .login {
	background-color: #5fc0cd;
	width: 100%;
	height: 6.5rem;
	border:0;
	color: white;
	font-size: 3.2rem;
	border-radius: 0;
}

form input {
	height:5.2rem;
	width:80%;
	border:0;
	font-size: 3.2rem;
	flex-grow: 1;
	outline:none;
}


/*忘记密码*/
.forget a {
	float:right;
	font-size:3.2rem;
	text-decoration: none;
	padding:1rem 0;
	color:#5fc0cd;
}


/*闭合浮动*/
.forget:after {
	content:".";
	clear:both;
	height:0;
	display:block;
	visibility: hidden;

}


