/*控制字体*/
html {
	font-size:10px;
}
/*去除页面空隙*/
body {
	margin:0;
}
/*顶部的栏*/
header {
	height: 8.8rem;
	font-size: 3.2rem;
	background-color: #5fc0cd;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header:nth-child(2) {
	font-size: 3.6rem;
}
